<div
  class="relative border-gray-200 rounded-lg dark:border-gray-700"
>
  <button
    [routerLink]="[mapPageRoute]"
    class="absolute top-1 left-4 px-4 py-2 bg-slate-200 text-black rounded-2xl shadow-md focus:outline-none z-40 hover:bg-cyan-800 hover:text-white"
  >
    Map
  </button>

  <button
    [routerLink]="[resultPageRoute]"
    class="absolute top-1 left-24 px-4 py-2 bg-slate-200 text-black rounded-2xl shadow-md focus:outline-none z-40 hover:bg-cyan-800 hover:text-white"
  >
    Your trips
  </button>

  <router-outlet></router-outlet>
</div>
