<div
  class="map-container relative p-4 pt-16 border-gray-200 rounded-lg dark:border-gray-700"
>
  <div class="h-full">
    <div class="h-full border-1 rounded-3xl">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">Trip ID</th>
              <th scope="col" class="px-6 py-3">Time Saved</th>
              <th scope="col" class="px-6 py-3">
                <span class="sr-only">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let trip of trips"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
            >
              <td class="px-6 py-4 text-gray-700 dark:text-gray-400">
                {{ trip.tripName }}
              </td>
              <td class="px-6 py-4 text-gray-700 dark:text-gray-400">
                {{ trip.timeSaved | date : "short" }}
              </td>
              <td class="px-6 py-4 text-right">
                <a
                  href="javascript:void(0)"
                  (click)="sendPlaces(trip.tripId)"
                  class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >
                  Show Trip
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- <div class="p-4 bg-gray-100 min-h-screen">
  <div class="container mx-auto">
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Trip ID</th>
              <th scope="col" class="px-6 py-3">Time Saved</th>
              <th scope="col" class="px-6 py-3"><span class="sr-only">Actions</span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trip of trips" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600">
              <td class="px-6 py-4 text-gray-700 dark:text-gray-400">
                {{ trip.tripName }}
              </td>
              <td class="px-6 py-4 text-gray-700 dark:text-gray-400">
                {{ trip.timeSaved | date:'short' }}
              </td>
              <td class="px-6 py-4 text-right">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Show Trip</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->
